*
{
    padding: 0;
    margin: 0;
    background-color: beige;
}
body{
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.top-nav-bar{
    height: 70px;
    position: sticky;
    background: beige;
    margin-bottom: 20px ;
    border-bottom: 2px solid tan;
}
.logo{
    height: 60px;
    margin: 5px 10px;
}
.top-nav-bar .form-control{
    margin: 10px 0px 10px 30px ;
    border: 2px solid salmon ;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 40px;
}

.top-nav-bar .input-group-text{
    background: beige;
    border: 3px solid salmon;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px 30px 10px 0px;
    cursor: pointer;
    height: 40px;
}
.search-box{
    display: inline-flex;
    width: 60%;
}

.top-nav-bar .input-group-text .fa{
    color: salmon;
}

.menu-bar{
    width: 40%;
    height: 60px;
    float: right;
}
.menu-bar ul{
    display: inline-flex;
    float: right;
}
.menu-bar ul li{
    background: salmon;
    border-left: 2px solid beige;
    border-top: 2px solid beige;
    border-bottom: 2px solid beige;
    list-style-type:none;
    padding: 15px 20px;
    cursor: pointer;
    
}
.menu-bar ul li a{
    color: beige;
    font-weight: bold;
    text-decoration: none;
}
.menu-bar ul li a:hover{
    color: red;
    margin-right: 20px;
}

@media only screen and ( max-width : 1000px){
    .top-nav-bar{
        border-bottom: 0px;
    }
    .search-box {
        width: 100%;
    }
    .menu-bar {
        width: 100%;
    }
    .menu-bar ul {
        margin: 10px 0px;
        width: 100%;
    }
    .menu-bar ul li{
        height: 60px;
        width: 100%;
    }

/*------------------the menu -------------------*/

    .dp-mn ul{
        width: 100%;
        margin: auto;
    }
   

}

/*----------------------------------the menu ----------------------------------*/
.product-list .navbar {
    text-align: center;
    padding: 10px ;
    margin-left: 300px;
    
}
.product-list .navbar  ul {
    text-align: center;
    padding: 10px;
    display: inline-flex;
    
}
.product-list .navbar  ul li h2 a{
    
    color: salmon ;
    background-color: beige;
    
}




/*----------------------------------product ----------------------------------*/

.card {
    padding: 5px;
    margin: 50px 0;
}
