*
{
    padding: 0;
    margin: 0;
    background-color: beige;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: beige;
}
.top-nav-bar{
    height: 70px;
    position: sticky;
    background: beige;

    
}
.logo{
    font-family: 'Montserrat Subrayada';
    color: #017bf5;
    height: 60px;
    margin: 10px 5px;
    font-size: 2.2rem;
    padding: 0 10px;
    font-weight: bolder;
    width: 70%;

}
.top-nav-bar .form-control{
    margin: 10px 0px 10px 10px ;
    border: 2px solid royalblue ;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 40px;
}

.top-nav-bar .input-group-text{
    background: beige;
    border: 3px solid royalblue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px 30px 10px 0px;
    cursor: pointer;
    height: 40px;
}
.search-box{
    display: inline-flex;
    width: 60%;
}

.top-nav-bar .input-group-text .fa{
    color: royalblue;
}

.menu-bar{
    width: 40%;
    height: 50px;
    float: right;
}
.menu-bar ul{
    display: inline-flex;
    float: right;
}
.menu-bar ul li{
    background: royalblue;
    border-left: 2px solid beige;
    border-top: 2px solid beige;
    border-bottom: 2px solid beige;
    list-style-type:none;
    padding: 10px 20px;
    cursor: pointer;
    
}
.menu-bar ul li a{
    color: beige;
    font-weight: bold;
    text-decoration: none;
}
.menu-bar ul li a:hover{
    color: black;
}
.menu-bar .iconCart{
    position: relative;
    font-size: 1.7rem;
    cursor: pointer;
    z-index: 1;
    color: #f3f3f3;
    background-color: royalblue;  
    align-items: center;  
}
.menu-bar .iconCart p {
    position: absolute;
    font-size: 1rem;
    padding: 2px;
    top: -10px;
    left: 25px;
    z-index: -1;
    background-color: #FF5733;
    box-shadow: #FF5733;
    color: white;
    border-radius: 10px;
}

.menu-bar .iconCart i{
    background-color: royalblue;
}

@media only screen and ( max-width : 1000px){
    .top-nav-bar{
        border-bottom: 0px;
        margin: 20px;
    }
    .search-box {
        width: 100%;
    }
    .menu-bar {
        width: 100%;
        margin: 20px;
    }
    .menu-bar ul {
        margin: 10px 0px;
        width: 100%;
    }
    .menu-bar ul li{
        height: 60px;
        width: 100%;
    }
}
/*------------------the product menu  -------------------*/
.productMenu .menuList{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    
}
.productMenu .menuList .menuItem{
    margin: 20px auto;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    border: 1px solid royalblue;
    border-radius: 5px;
}
.productMenu .menuList .menuItem a{
    text-decoration: none;
    color: royalblue;

}
/*----------------------------------the products ----------------------------------*/

.container .row{
    width: 100%;
    margin: 30px auto;
}


.container .row .productBox{
    width: 100%;
    margin:auto;
    
}

.container .row .productBox img{
    padding: 5px;
}

.container .row .productBox h5{
    text-align: center;
    justify-content: center;
    color: grey ;
}

.container .row .productBox a{
    display: block;
    width: 100%;
    text-align: center;
    background-color: royalblue;
    text-decoration: none;
    padding: 5px;
    margin: 30px auto;
    color: beige;
    border: 1px solid blue;
    border-radius: 7%;
    cursor: pointer;
}
/*----------------------------------the cartpage ----------------------------------*/
.cartBox{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0,0, 0.8);
    z-index: 1;
    transition: 0.3s linear;
    transform: scale(0);
}
.cartBox.active {
    transform: scale(1);
}
.cartBox .cart{
    position: relative;
    height: 90%;
    width: 97%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 0 0 20px 0;
}
.cartBox .cart i{
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.cartBox .cart h1{
    position: relative;
    margin-top: 15px;
    font-size: 2.5rem;
}
/*           the catr table             */
.cartBox .cart-content {
    position: relative;
    width:100%;
    height: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2rem;
    min-width: 400px;
    position: relative;
}

.cartBox .cart-content thead tr th{
    background-color: #017bf5;
    color: white;
    text-align: left;
    font-weight: bold;
}

.cartBox .cart-content th,
.cartBox .cart-content td {
    padding: 2px 3px;

}

.cartBox .cart-content tbody tr:last-of-type{
    border-bottom: 1px solid #017bf5;
}

.cartBox .cart-content tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.cartBox .cart-content tbody span,
.cartBox .cart-content tbody .inc-q,
.cartBox .cart-content tbody .dec-q {
    background-color: #017bf5;
    padding:0 5px;
    border-radius: 50%;
    display: inline-block;
    margin:0 5px;
    font-size: 1rem;
    align-content: center;
    cursor: pointer;
    font-weight: 1000;
    
}

.cartBox .cart-content tbody .remove{
    background-color: #FF5733;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    font-size: 0.5rem;
    align-content: center;
    cursor: pointer;
    font-weight: 900;
}

.cartBox .cart-content tbody td {
    align-content: center;

}
